@import "../../styles/abstract/variables";
@import "../../styles/mixins/responsive";

.featured-text {
  display: flex;
  margin-top: 3.4rem;
  background-color: $color-light;
  padding: 2.4rem;
  text-align: left;
  flex-direction: column;
  position: relative;

  @include respond('tablet-landscape') {
    flex-direction: row;
  }

  &__left {
    min-width: 18rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.4rem;

    @include respond('tablet-landscape') {
      padding-bottom: 0;
    }
  }

  &__right {
    font-family: "Lato-Light";
    font-size: 1.6rem;
    padding-right: 2rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
  }

  &__title {
    font-family: "Lato-Light";
    color: $text-color;
    font-size: 2rem;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 3.4rem;
  }

  &__close-button {
    position: absolute;
    right: 1rem;
    padding: 1rem;
    cursor: pointer;
    color: $text-color-light;
    font-size: 2rem;

    @include respond('tablet-landscape') {
      right: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}