// Colors
$color-black:           #000;
$color-white:           #fff;
$color-light:           #ebebeb;
$color-primary:         #1cbbb4;
$color-secondary:       #ffad1d;
$text-color:            #333333;
$text-color-light:      #777777;
$text-color-opposite:   #ffffff;
$border-color:          #c4c4c4;

// Sizes
$font-size-base:        1.4rem;
$line-height-base:      1.428571429 !default; // 20/14

$max-width-container:   128.0rem;
$max-width-inner-container:   102.4rem;
$tablet-portrait:       60rem;
$tablet-landscape:      90rem;
$desktop:               120rem;
$big-desktop:           180rem;

// Forms
$cursor-disabled:                not-allowed !default;
