@import "../../styles/abstract/variables";

.loading-page {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right bottom, #10263c, #01ffb4);
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5rem;

    &__text {
        font-size: 3rem;
        color: $color-white;
    }
}