@import "../../styles/abstract/variables";
@import "../../styles/mixins/responsive";

.loading-page {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right bottom, #10263c, #01ffb4);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5rem;

  &__text {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1rem;
    color: $color-white;

    @include respond('tablet-landscape') {
      font-size: 3rem;
    }

    &:before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: $color-primary;
      overflow: hidden;
      animation: loading-animation 4s linear infinite;
      border-right: 0.4rem solid $color-primary;
    }
  }
}

@keyframes loading-animation {
  0% {
    width: 0;
  }
  50% {
    width: 99%;
  }
  100% {
    width: 0;
  }
}