@import "../../styles/abstract/variables";
@import "../../styles/mixins/responsive";

.candidate-card {
  overflow: hidden;
  position: relative;
  margin: 2rem 0;
  width: 100%;
  max-width: 49rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;

  @include respond('tablet-landscape') {
    height: 50rem;
    width: 48%;
  }

  &__name {
    font-family: 'Lato-Regular';
    font-size: 3.8rem;

    @include respond('tablet-portrait') {
      font-size: 4.6rem;
    }
  }

  &__excerpt {
    font-family: "Lato-Light";
    font-size: 1.6rem;
    margin: 1.8rem 0;
  }

  &__timeline {
    font-size: 1.3rem;
    font-family: "Lato-Regular";
  }

  &__time {
    font-family: "Lato-Bold";
    font-weight: bold;
  }

  &__category {

  }

  &__actions {
    display: flex;
    align-items: center;

    > * {
      margin-right: 1rem;
    }
  }

  &__picture {
    width: 100%;
    background-color: $color-black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__blur {
    background: rgba($color-black, 0.8);
    filter: blur(6rem);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }

  &__details {
    position: relative;
    padding: 0 3rem 3rem;
    color: $color-white;
  }

  &__button {
    border: 0.1rem solid $color-white;
    height: 4rem;
    padding: 0 1.6rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in;

    &:hover {
      border-color: $color-black;
      background: $color-white;
      color: $color-black;
    }
  }
}

.candidate-results {
  height: 4rem;
  display: flex;
  font-size: 2rem;
  color: $color-white;

  &__like {
    transition: all 1s ease-in;
    text-align: left;
    padding: 1rem;
    background: rgba($color-primary, 0.8);
    width: 50%;
  }

  &__like-value {
    position: absolute;
    left: 1rem;
  }

  &__dislike {
    transition: all 1s ease-in;
    text-align: right;
    padding: 1rem;
    background: rgba($color-secondary, 0.8);
    width: 50%;
  }

  &__dislike-value {
    position: absolute;
    right: 1rem;
  }

  &__value {
    font-family: "Lato-Light";
    padding: 0 1rem;
  }
}

.thumbs-button {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  border: 0.1rem solid transparent;
  cursor: pointer;
  transition: all 0.2s ease-in;

  &--up {
    background: rgba($color-primary, 0.8);

    &:hover {
      border-color: $color-white;
      background: rgba(darken($color-primary, 10%), 0.8);
    }
  }

  &--down {
    background: rgba($color-secondary, 0.8);

    &:hover {
      border-color: $color-white;
      background: rgba(darken($color-secondary, 10%), 0.8);
    }
  }

  &--selected {
    border-color: $color-white;
  }
}