@import "../../styles/abstract/variables";
@import "../../styles/mixins/responsive";

.voting-section {
  width: 100%;
  margin-top: 3.4rem;

  &__heading {
    text-align: left;
    font-family: "Lato-Light";
    font-size: 3.8rem;
    margin-bottom: 4rem;
    color: $text-color-light;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include respond('tablet-landscape') {
      justify-content: space-between;
    }
  }
}