* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img, embed, object, video {
  width: 100%;
  max-width: 100%;
}

a,
a:active,
a:visited,
a:default {
  text-decoration: none;
  color: $color-black;
}

a:hover {
  color: $color-primary;
}

a, button {
  cursor: pointer;
}

html {
  font-size: 10px; // 1 rem = 16px; 10px/16px = 62.5%
  height: 100%;

  @include respond(tablet-landscape) {
  }

  @include respond(big-desktop) {
    font-size: 100%;
  }
}